.embedded-app {
  display: flex;
  flex-direction: column;
}

.embedded-header {
  display: flex;
  flex-direction: row;
  background-color: azure;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.embedded-header .embedded-logo {
  width: 60px;
  pointer-events: none;
}

.embedded-header .embedded-menu {
  display: flex;
  gap: 10px
}

.embedded-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.embedded-main .embedded-title {
  font-size: 22px;
}

#sign_b2b_dashboard {
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  align-content: center;
}
